#!/bin/sh
# lbm.sh.example. Copy to "lbm.sh" and replace license info with yours.

export LBM_LICENSE_INFO="Product=LBM,UME,UMQ,UMDRO:Organization=xxxx:Expiration-Date=never:License-Key=xxxx xxxx xxxx xxxx"

L=$HOME/UMP_6.14/
LBM=$L/Linux-glibc-2.17-x86_64
LBMJ=$L/java

export LD_LIBRARY_PATH=$LBM/lib

export PATH="$LBM/bin:$L/SRS/bin:$L/MCS/bin:$PATH"
